#container
  border 1px solid black

  .user-set-content
    width 960px
    margin 0 auto
    font-size 14px

    .type-title-cpt
      clear both
      padding-bottom 34px
      padding-top 40px
      color black
      font-size 16px

    .type-title-cpt span:first-child
      margin-right 30px

      .active
        cursor: pointer
        position relative

      .active::before
        content ''
        position absolute
        width 300px
        height 200px
        background-color red
        top 10px
        left 0

  .set-content
    background-color white
    height 700px
    border 1px solid #e8e8e8
    margin-bottom 103px
    margin-top 16px

    .user-set
      padding-left 106px
      padding-top 47px

      .set-icon
        height 100px

  .set-content .user-set > div
    margin-bottom 30px

  .set-content .user-set div .set-text
    padding-right 22px
    font-weight 200

  .set-content .user-set div .set-header
    width 100px
    height 100px
    border-radius 50%
    vertical-align middle

  .set-content .user-set .set-icon .change-icon
    cursor pointer
    margin-top 80px
    position relative

  .set-content .user-set .set-icon div
    float left

  .user-set-content .set-point-text
    font-weight 200
    padding-left 11px
    font-size 12px
    color #57ad68

  .user-set-content .set-content .user-set > div
    margin-bottom 30px

  .user-set-content .set-text
    padding-right 11px
    font-weight 200

  .user-set-content .set-content  .user-set .set-name input
    width 140px
    height 36px
    font-size 14px
    outline none
    overflow auto
    border 1px solid #e8e8e8
    box-sizing border-box
    color black

  .user-set-content .set-content  .user-set .set-name input[placeholder]
    padding-left 12px
    padding-right 12px
    font-weight 100
    color #cccccc

  .user-set-content .set-warn-text
    font-size 12px
    font-weight 200
    color #f5a623
    padding-left 17px

  .user-set-content .set-point-text a
    font-weight 200
    padding-left 11px
    font-size 12px
    color #57ad68
    text-decoration none

  .user-set-content .set-text
    padding-right 11px
    font-weight 200

  .user-set-content .set-point-text
    font-weight 200
    padding-left 11px
    font-size 12px
    color #57ad68
    text-decoration none

  .user-set-content .set-content .user-set .set-sex .radiovote
    width 60px
    margin-left 15px
    position relative

  .user-set-content .set-content .user-set .set-sex .radiovote .voteContent
    padding-right 10px

  .user-set-content .set-content .set-des
    margin-left 110px

.user-set-content .the-text
    color black
    vertical-align text-top
    outline none
    width 400px
    height 125px
    font-size 14px
    padding 7px 16px
    font-weight 200
    resize none
    overflow auto
    border 1px solid #e8e8e8

.user-set-content .set-btn
  margin-top 70px
  margin-left 140px
  width 96px
  line-height 36px
  text-align center
  background-color #78bc85
  border-radius 25px
  font-weight 100
  color white






