.article-info-content {
  border: 1px solid #e8e8e8;
  padding: 46px 160px 124px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 125px;
  background-color: #fff;
  color: #333;
  font-size: 12px;
  width: 638px;
  overflow: hidden;
}
.article-info-content .article-info {
  padding-bottom: 52px;
}
.article-info-content .article-info .article-content {
  padding-top: 50px;
  line-height: 28px;
  padding-bottom: 20px;
  font-size: 16px;
  font-weight: 200;
}
.article-info-content .article-info .article-content p {
  margin: 0;
  padding: 0;
  font-family: "PingFang SC", "微软雅黑";
  color: #333;
}
.article-info-content .article-info .article-header-info {
  padding-bottom: 43px;
  border-bottom: 1px solid #ececec;
}
.article-info-content .article-info .article-header-info .article-type {
  border: 1px solid #333;
  padding: 4px 0;
  width: 74px;
  text-align: center;
}
.article-info-content .article-info .article-header-info .article-type a {
  color: #333;
  text-decoration: none;
}
.article-info-content .article-info .article-header-info .article-type:hover {
  opacity: 0.5;
  font-weight: bold;
}
.article-info-content .article-info .article-header-info .article-title {
  font-size: 36px;
  padding-top: 12px;
  padding-bottom: 15px;
}
.article-info-content .article-info .article-header-info .article-others {
  font-size: 13px;
}
.article-info-content .article-info .article-header-info .article-others span {
  color: #999;
  padding-top: 9px;
  float: right;
  font-weight: 100;
}
.article-info-content .article-info .article-header-info .article-others a {
  text-decoration: none;
  color: #000;
}
.article-info-content .article-info .article-header-info .article-others a:hover {
  color: #57ad68;
}
.article-info-content .article-info .article-header-info .article-others img {
  width: 40px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px;
}
.article-info-content .article-info .article-report .report {
  cursor: pointer;
  color: #999;
  padding-top: 5px;
  float: right;
  font-weight: 100;
}
.article-info-content .article-info .article-report .article-warn {
  border: 1px solid #ccc;
  padding: 5px 20px;
  font-weight: lighter;
  color: #999;
  text-align: center;
  display: inline-block;
}
.article-info-content .article-info .article-report .article-warn a {
  color: #57ad68;
}
.article-info-content .article-handle .share-cpt {
  cursor: pointer;
  margin-top: -32px;
  float: right;
}
.article-info-content .article-handle .share-cpt div {
  display: inline-block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 44px;
  height: 44px;
  margin-left: 10px;
}
.article-info-content .article-handle .like-cpt {
  color: #999;
  cursor: pointer;
  width: 24px;
  height: 22px;
  font-size: 14px;
  background-position: 0 center;
  padding-left: 34px;
  line-height: 22px;
  background-size: 24px;
  background-repeat: no-repeat;
  background-image: url("../../assets/images/like.png");
}
