.title-cpt
  width 932px
  margin 0 auto
  clear both
  padding-bottom 40px
  background-repeat no-repeat
  padding-top 70px
  padding-left 28px;
  background-position 0 72px
  background-image url('../../assets/images/label-img.png')

.classification
    width 960px
    overflow hidden
    margin 0 auto
    .article-type-cpt
      width 191px
      height 84px
      margin-bottom 1px
      margin-right 1px
      float left
      overflow hidden
      position relative
      a:hover .type-img
        transform scale(1.1)
        transition 0.5s ease
      a
        width 191px
        height 84px
        display inline-block
        text-decoration none
        .type-img
          width 191px
          height 84px
          position absolute
        .type-bg
          display inline-block
          position absolute
          width 191px
          height 84px
          background-color black
          opacity 0.3
        .type-title
          display inline-block
          height: 20px;
          overflow: hidden
          width: 100%
          white-space: nowrap
          text-overflow: ellipsis
          text-align center
          margin-top 25px
          color white
          position absolute
        .type-des
          display inline-block
          height: 20px;
          width: 100%
          white-space: nowrap
          text-align center
          color white
          font-weight: 100;
          font-size: 12px;
          top: 50px;
          opacity: 0.8;
          position absolute

