*
  margin 0
  padding 0
html, body
  height 100%
  #app
    height 100%
  #app>div
    height 100%
  #app>div>div
    height 100%
.menuBar
  position fixed
  z-index 1000
  height 100%
  width 60px
  background-color #FCFCFC
  box-shadow 1px 0 0 0 #EEEEEE
  letter-spacing 2px
  font-size 14px
  text-align center
  .logo
    margin-top 4px
    margin-bottom 27px
    padding 9px 0
    a
      color #337ab7
      text-decoration none
      img
        width 18px
  .menuItem
    a:hover
      background-color #5BAD6B
      color white
    a
      display block
      height 70px
      color #2C2E46
      line-height 70px
      text-decoration none
    .active
      color #5BAD6B
  .userInfo
    position absolute
    bottom 0
    margin-bottom 40px
    hr
      border-color #EEEEEE
      margin 13px 22px 14px 22px
      width 16px
      border 0
      border-top 1px solid #eee
    .userIcon
      border-radius 50%
      a
        color #337ab7
        text-decoration none
        .userIconWH
          width 38px
          height 38px
          border-radius 50px
          vertical-align middle
  .dropdown
    position relative
    .dropdown-toggle
      font-size 13px
      text-decoration none
      color #2C2E46

.container-bg
  margin-left 60px
  height 100%
  .container
    padding-right 15px
    padding-left 15px
    margin-right auto
    margin-left auto
    height 100%
    .row
      margin-right -15px
      margin-left -15px
      overflow hidden
      height 100%
      .newCollection
        padding 15px 0
        margin 0 10px
        box-shadow 0 3px 0 0 #EEEEEE
        font-size 13px
        cursor pointer
        display block
        width calc(100% - 20px)
        .newColl
          .collectionIcon
            width 20px
            padding-right 9px
            vertical-align bottom
          span
            color #5BAD6B
      div
        float left
      .col-sm-2
        width 16.66666667%
        height 100%
        .colItems:hover
          background-color #5BAD6B
          color white
        .colItems
          cursor pointer
          padding-top 5px
          display block
          height 52px
          width 100%
          border-bottom  1px solid #e8e8e8
          box-sizing border-box
          .colItem
            height 43px
            border-left 3px solid #5BAD6B
            padding-left 10px
            padding-right 10px
            font-size 14px
            line-height 43px
            width calc(100% - 20px)
      .col-sm-3
        width 25%
        height 100%
        .articleList
          max-height calc(100% - 73px)
          min-height calc(100% - 73px)
          color #2C2E46
          font-size 16px
          overflow-y auto
          overflow-x hidden
          box-sizing border-box
          width 100%
          .articleItems:hover
            background-color #5BAD6B
            color white
          .articleItems:hover .articleItem>.articleTime
            color white
          .articleItems
            cursor pointer
            padding-top 5px
            width 100%
            height 62px
            border-bottom 1px solid #e8e8e8
            .articleItem
              border-left 3px solid transparent
              padding-left 18px
              padding-right 10px
              padding-top 5px
              width 100%
              height 54px
              box-sizing border-box
              .ut-s
                text-overflow ellipsis
                overflow hidden
                white-space nowrap !important
                outline 0 !important
                display block
                width 112px
              .articleTime
                text-overflow ellipsis
                overflow hidden
                white-space nowrap !important
                outline 0 !important
                font-size 12px
                color #666666
                margin-top 10px
                display block
                width 80%
            .articleItemActive
              border-left 3px solid #5BAD6B
      .middleContent
        border-right 1px solid #EEEEEE
        border-left 1px solid #EEEEEE
        box-sizing border-box
      .col-sm-7
        width 58.33333333%
        height 100%
        .articlecontent
          width 100%
          height 100%
          .ueditoButton
            margin-top 22px
            font-size 14px
            color #666666
            margin-right 22px
            float right
            text-align center
            position relative
            z-index 20
            span
              border 1px solid #666666
              padding 9px 16px
              cursor pointer
            span:last-child
              background-color #5BAD6B
              border 1px solid transparent
              color #FFFFFF
            .preview
              margin 0 25px 0 15px

          .articleTitleHr
            border-color #EEEEEE
            margin 0 26px 14px 26px
            border 0
            border-top 1px solid #eee
            height 0
            box-sizing content-box
            clear both
          .articleTitle
            color #2C2E46
            font-size 32px
            padding 89px 5px 0 33px
            width calc(100% - 38px)
            margin-top -42px
            margin-bottom 9px
            div:first-child
              display inline
              width 80%
              input
                width 100%
                margin-top 23px
                height 45px
                border-color transparent
                border-style solid
                outline medium
                color #2C2E46
                font-size 30px
            .titleWord
              font-size 12px
              padding-right 34px
              padding-top 37px
              color #999999
              text-align center
              float right
          .articleType
            width calc(100% - 57px)
            margin-left 37px
            margin-right 20px
            color #999999
            font-size 12px
            display block
            .dropdownType
              position relative
              z-index 10
              a
                text-decoration none
                color #999
                img
                  width 11px
                  margin-left 5px
              ul
                position absolute
                width 100px
                height 300px
                border 1px solid #eee
                list-style none
                overflow-y scroll
                background-color white
                top 20px
                display none
                li
                  width 100%
                  height 38px
                  text-align center
                  line-height 38px
                  border-bottom 1px solid #eee
                  box-sizing border-box
                  cursor pointer
                li:hover
                  color #5BAD6B

          .ueditorContent
            width calc(100% - 22px)
            margin 11px 11px 0 11px
            max-height calc(100% - 215px)
            min-height calc(100% - 215px)
            height inherit
            #editor
              height 100%
              background-color #FCFCFC
              width 100%
              border 1px solid #EEEEEE
              box-sizing border-box
              #editor_toolbar_box
                width calc(100% - 30px)
                padding 6px 0 9px 0
                border-bottom 1px solid #EEEEEE
                margin 0 15px
                box-sizing border-box
                #editor_toolbar
                  div
                    cursor pointer
                    display inline-block
                    position relative
                    img
                      height 12px
                      padding 0 16px
                      vertical-align middle

               #editor-text
                 width calc(100% - 30px)
                 height calc(100% - 30px)
                 padding 10px 7px
                 margin 5px 8px
                 border 0
                 font-size 16px
                 color #333
                 font-weight 100
                 outline none




