*
  margin 0
  padding 0

//↓ 头部聚焦图样式
#big-focus
  width 960px
  margin 0 auto
  margin-top 36px
  position relative
  height 480px

  .focus0:hover .focus-a0 > .focus-span0
    display block

  .focus0:hover .focus-p0
    display block

  .focus0
    width 480px
    height 480px
    position absolute
    overflow hidden

    .focus-a0
      width 480px
      line-height 480px
      position absolute

      .focus-img0
        position absolute
        width 480px
        height: 480px

      .focus-img0:hover
        cursor pointer
        transition all 1s
        transform scale(1.2)

      .focus-span0
        position absolute
        background-color black
        opacity 0.4
        border 1px solid black
        width 100%
        left 0
        height 80px
        top: 400px
        display none

    .focus-p0
      color white
      position absolute
      top: 420px
      left 20px
      z-index 5
      display none

    .focus-p0:hover
      display block

  .focus1:hover .focus-a1 > .focus-span1
    display block

  .focus1:hover .focus-p1
    display block

  .focus1
    width 240px
    height 240px
    left 480px
    position absolute
    overflow hidden

    .focus-a1
      width 240px
      line-height 240px
      position absolute

      .focus-span1
        position absolute
        background-color black
        opacity 0.4
        border 1px solid black
        width 100%
        left 0
        height 80px
        top: 160px
        display none

      .focus-img1
        width 240px
        height: 240px

      .focus-img1:hover
        cursor: pointer;
        transition: all 1s;
        transform: scale(1.2);

    .focus-p1
      color white
      position absolute
      top: 170px
      left 10px
      z-index 5
      display none

  .focus2:hover .focus-a2 > .focus-span2
    display block

  .focus2:hover .focus-p2
    display block

  .focus2
    width 240px
    height: 240px
    left 720px
    position absolute
    overflow hidden

    .focus-a2
      width 240px
      line-height 240px
      position absolute

      .focus-img2
        width 240px
        height: 240px

      .focus-img2:hover
        cursor: pointer;
        transition: all 1s;
        transform: scale(1.2);

      .focus-span2
        position absolute
        background-color black
        opacity 0.4
        border 1px solid black
        width 100%
        left 0
        height 80px
        top: 160px
        display none

    .focus-p2
      color white
      position absolute
      top: 170px
      left 10px
      z-index 5
      display none

  .focus3:hover .focus-a3 > .focus-span3
    display block

  .focus3:hover .focus-p3
    display block

  .focus3
    width 240px
    height: 240px
    left 480px
    top: 240px
    position absolute
    overflow hidden

    .focus-a3
      width 240px
      line-height 240px
      position absolute

      .focus-img3
        width 240px
        height: 240px

      .focus-img3:hover
        cursor: pointer;
        transition: all 1s;
        transform: scale(1.2);

      .focus-span3
        position absolute
        background-color black
        opacity 0.4
        border 1px solid black
        width 100%
        left 0
        height 80px
        top: 160px
        display none

    .focus-p3
      color white
      position absolute
      top: 170px
      left 10px
      z-index 5
      display none

  .focus4:hover .focus-a4 > .focus-span4
    display block

  .focus4:hover .focus-p4
    display block

  .focus4
    width 240px
    height: 240px
    left 720px
    top: 240px
    position absolute
    overflow hidden

    .focus-a4
      width 240px
      line-height 240px
      position absolute

      .focus-img4
        width 240px
        height: 240px

      .focus-img4:hover
        cursor: pointer;
        transition: all 1s;
        transform: scale(1.2);

      .focus-span4
        position absolute
        background-color black
        opacity 0.4
        border 1px solid black
        width 100%
        left 0
        height 80px
        top: 160px
        display none

    .focus-p4
      color white
      position absolute
      top: 180px
      left 10px
      z-index 5
      display none

//中间阅读样式
#article-list-group
  width 960px
  margin 0 auto
  position relative
  top: 75px

  #title-cpt

    .title-black
      display inline-block
      width 20px
      height 20px
      background-color black

    .title-read
      margin-left 10px

  #article-cpl0
    border 1px solid rgb(232, 232, 232)
    width 960px
    height 210px
    margin-top 40px

    .article-info

      .article-img .img-article
        width 300px
        height 210px
        float right

      .article-info-box

        .article-author
          margin-left 20px

        .article-author .author-a
          font-family "Yuanti SC"
          font-size 12px
          font-weight 100
          margin-top 5px
          color rgb(51, 51, 51)
          text-decoration none

        .article-author .author-a:hover
          color rgb(87, 173, 104)

        .article-content
          width 595px
          height 85px
          font-family "Yuanti SC"
          font-size 14px
          font-weight 100
          margin-top 5px
          color rgb(51, 51, 51)
          margin-left 20px

        .article-content .view
          font-family "Yuanti SC"
          font-size 14px
          font-weight 100
          color rgb(87, 173, 104)
          margin-left 10px
          text-decoration none

        .article-title
          margin-left 20px

          .article-a
            font-family "Yuanti SC"
            font-size 25px
            font-weight 100
            text-decoration none
            color black
            margin-top 20px

          .article-a:hover
            color rgb(87, 173, 104)

    .article-others
      font-size 10px
      color #bbbbbb
      font-family "Yuanti SC"
      font-weight 100
      margin-left 20px

  #article-cpl1
    margin-top 10px
    border 1px solid rgb(232, 232, 232)
    width 960px
    height: 210px

    .article-info

      .article-img .img-article
        width 300px
        height: 210px
        float right

      .article-info-box

        .article-author
          margin-left 20px

        .article-author .author-a
          font-family "Yuanti SC"
          font-size 12px
          font-weight 100
          margin-top 5px
          color rgb(51, 51, 51)
          text-decoration none

        .article-author .author-a:hover
          color rgb(87, 173, 104)

        .article-content
          width 595px
          height 85px
          font-family "Yuanti SC"
          font-size 14px
          font-weight 100
          margin-top 5px
          color: rgb(51, 51, 51)
          margin-left 20px

        .article-content .view
          font-family "Yuanti SC"
          font-size 14px
          font-weight 100
          color rgb(87, 173, 104)
          margin-left 10px
          text-decoration none

        .article-title
          margin-left 20px

          .article-a
            font-family "Yuanti SC"
            font-size 25px
            font-weight 100
            text-decoration none
            color black
            margin-top 20px

          .article-a:hover
            color rgb(87, 173, 104)

    .article-others
      font-size 10px
      color #bbbbbb
      font-family "Yuanti SC"
      font-weight 100
      margin-left 20px

  #article-cpl2
    margin-top 10px
    border 1px solid rgb(232, 232, 232)
    width 960px
    height: 210px

    .article-info

      .article-img .img-article
        width 300px
        height: 210px
        float right

      .article-info-box

        .article-author
          margin-left 20px

        .article-author .author-a
          font-family "Yuanti SC"
          font-size 12px
          font-weight 100
          margin-top 5px
          color rgb(51, 51, 51)
          text-decoration none

        .article-author .author-a:hover
          color rgb(87, 173, 104)

        .article-content
          width 595px
          height 85px
          font-family "Yuanti SC"
          font-size 14px
          font-weight 100
          margin-top 5px
          color rgb(51, 51, 51)
          margin-left 20px

        .article-content .view
          font-family "Yuanti SC"
          font-size: 14px
          font-weight 100
          color rgb(87, 173, 104)
          margin-left 10px
          text-decoration none

        .article-title
          margin-left 20px

          .article-a
            font-family "Yuanti SC"
            font-size 25px
            font-weight 100
            text-decoration none
            color black

          .article-a:hover
            color rgb(87,173,104)

    .article-others
      font-size 10px
      color #bbbbbb
      font-family "Yuanti SC"
      font-weight 100
      margin-left 20px

//TING部分
#ting-list-group
  width 960px
  margin 0 auto
  position relative
  top: 75px
  margin-top 80px
  height 600px

  #title-cpt

    .title-black
      display inline-block
      width 20px
      height 20px
      background-color black

    .title-ting
      margin-left 10px

  #ting-list
    background-color #bbbbbb
    margin-top 45px
    position relative

    .ting-cpt0
      position absolute
      border 1px solid gainsboro
      width 300px
      height 420px

      .ting-img-div
        width 300px
        height 300px
        overflow hidden

        .ting-a
          width 100%
          height 100%

          .ting-img
            width 300px
            height 300px

          .meng-span
            background-color black
            background-image url("../images/homepage-live.png")
            position absolute
            width 300px
            height 300px
            left 0
            top 0
            background-repeat no-repeat
            background-position center
            opacity 0.6
            display none

      .ting-a:hover .meng-span
        display block

      .ting-img-div:hover .ting-a .ting-img
        cursor pointer
        transition all 1.5s
        transform scale(1.1)

      .ting-info
        margin-top 25px

        .ting-title
          margin-left 15px
          width 260px
          overflow hidden
          text-overflow ellipsis
          white-space nowrap

          .ting-title-a
            font-family "Yuanti SC"
            font-size 23px
            font-weight 100
            text-decoration none
            color black
            margin-top 20px

          .ting-title-a:hover
            color rgb(87, 173, 104)

        .ting-author

          .ting-author-a
            margin-left 15px
            font-family "Yuanti SC"
            font-size 12px
            font-weight 100
            color rgb(51, 51, 51)
            text-decoration none

          .ting-author-a:hover
            color rgb(87,173,104)
            text-decoration none

        .ting-others
          font-size 10px
          font-family "Yuanti SC"
          font-weight 100
          margin-left 15px
          margin-top 10px

    .ting-cpt1
      position absolute
      border 1px solid gainsboro
      width 300px
      height 420px
      left 330px

      .ting-img-div
        width 300px
        height 300px
        overflow hidden

        .ting-a
          width 100%
          height 100%

          .ting-img
            width 300px
            height 300px

          .meng-span
            background-color black
            background-image url("../images/homepage-live.png")
            position absolute
            width 300px
            height 300px
            left 0
            top 0
            background-repeat no-repeat
            background-position center
            opacity 0.6
            display none

      .ting-a:hover .meng-span
        display block

      .ting-img-div:hover .ting-a .ting-img
        cursor pointer
        transition all 1.5s
        transform scale(1.1)

      .ting-info
        margin-top 25px

        .ting-title
          margin-left 15px
          width 260px
          overflow hidden
          text-overflow ellipsis
          white-space nowrap

          .ting-title-a
            font-family "Yuanti SC"
            font-size 23px
            font-weight 100
            text-decoration none
            color black
            margin-top 20px

          .ting-title-a:hover
            color rgb(87, 173, 104)

        .ting-author

          .ting-author-a
            margin-left 15px
            font-family "Yuanti SC"
            font-size 12px
            font-weight 100
            color rgb(51, 51, 51)
            text-decoration none

          .ting-author-a:hover
            color rgb(87,173,104)
            text-decoration none

        .ting-others
          font-size 10px
          font-family "Yuanti SC"
          font-weight 100
          margin-left 15px
          margin-top 10px

    .ting-cpt2
      position absolute
      border 1px solid gainsboro
      width 300px
      height 420px
      left 660px

      .ting-img-div
        width 300px
        height 300px
        overflow hidden

        .ting-a
          width 100%
          height 100%

          .ting-img
            width 300px
            height 300px

          .meng-span
            background-color black
            background-image url("../images/homepage-live.png")
            position absolute
            width 300px
            height 300px
            left 0
            top 0
            background-repeat no-repeat
            background-position center
            opacity 0.6
            display none

      .ting-a:hover .meng-span
        display block

      .ting-img-div:hover .ting-a .ting-img
        cursor pointer
        transition all 1.5s
        transform scale(1.1)

      .ting-info
        margin-top 25px

        .ting-title
          margin-left 15px
          width 260px
          overflow hidden
          text-overflow ellipsis
          white-space nowrap

          .ting-title-a
            font-family "Yuanti SC"
            font-size 23px
            font-weight 100
            text-decoration none
            color black
            margin-top 20px

          .ting-title-a:hover
            color rgb(87, 173, 104)

        .ting-author

          .ting-author-a
            margin-left 15px
            font-family "Yuanti SC"
            font-size 12px
            font-weight 100
            color rgb(51, 51, 51)
            text-decoration none

          .ting-author-a:hover
            color rgb(87,173,104)
            text-decoration none

        .ting-others
          font-size 10px
          font-family "Yuanti SC"
          font-weight 100
          margin-left 15px
          margin-top 10px

//人气片刻
#hot-list-group
  width 960px
  margin 0 auto
  position relative
  overflow hidden

  #title-cpt
    margin-top 80px

    .title-black
      display inline-block
      width 20px
      height 20px
      background-color black

    .title-ting
      margin-left 10px

  #user-list
    margin-top 45px
    height 250px

    .user-cpt0
      position: absolute
      width 230px
      height 230px
      background-image url("../images/homepage-background.png")
      background-repeat no-repeat
      background-size 100% 100%
      overflow hidden

      .user-info
        position absolute
        width 180px
        height 150px
        left 25px
        top 40px

        .user-cpt-left
          position absolute
          margin-top 20px

          .user-cpt-a

            .user-cpt-img
              width 80px
              height 80px
              border-radius 40px

            .user-cpt-label0
              position absolute
              width 52px
              height 19px
              background-image url("../images/homepage- writer.png")
              background-size 100% 100%
              left 15px

        .user-cpt-right
          width 85px
          height 85px
          position absolute
          left 110px
          top 40px

          .user-name

            .user-name-a
              text-decoration none
              color black

            .user-name-a:hover
              color rgb(87,173,104)

          .user-des
            font-family "Yuanti SC"
            font-weight 100
            font-size 10px

    .user-cpt1
      position: absolute
      width 230px
      height 230px
      background-image url("../images/homepage-background.png")
      background-repeat no-repeat
      background-size 100% 100%
      left 244px
      overflow hidden

      .user-info
        position absolute
        width 180px
        height 150px
        left 25px
        top 40px

        .user-cpt-left
          position absolute
          margin-top 20px

          .user-cpt-a

            .user-cpt-img
              width 80px
              height 80px
              border-radius 40px

            .user-cpt-label1
              position absolute
              width 52px
              height 19px
              background-image url("../images/homepage-musician.png")
              background-size 100% 100%
              left 15px

        .user-cpt-right
          width 85px
          height 85px
          position absolute
          left 110px
          top 40px

          .user-name

            .user-name-a
              text-decoration none
              color black

            .user-name-a:hover
              color rgb(87,173,104)

          .user-des
            font-family "Yuanti SC"
            font-weight 100
            font-size 10px

    .user-cpt2
      position: absolute
      width 230px
      height 230px
      background-image url("../images/homepage-background.png")
      background-repeat no-repeat
      background-size 100% 100%
      left 488px
      overflow hidden

      .user-info
        position absolute
        width 180px
        height 150px
        left 25px
        top 40px

        .user-cpt-left
          position absolute
          margin-top 20px

          .user-cpt-a

            .user-cpt-img
              width 80px
              height 80px
              border-radius 40px

            .user-cpt-label2
              position absolute
              width 52px
              height 19px
              background-image url("../images/homepage-musician.png")
              background-size 100% 100%
              left 15px

        .user-cpt-right
          width 85px
          height 85px
          position absolute
          left 110px
          top 40px

          .user-name

            .user-name-a
              text-decoration none
              color black

            .user-name-a:hover
              color rgb(87,173,104)

          .user-des
            font-family "Yuanti SC"
            font-weight 100
            font-size 10px

    .user-cpt3
      position: absolute
      width 230px
      height 230px
      background-image url("../images/homepage-background.png")
      background-repeat no-repeat
      background-size 100% 100%
      left 731px
      overflow hidden

      .user-info
        position absolute
        width 180px
        height 150px
        left 25px
        top 40px

        .user-cpt-left
          position absolute
          margin-top 20px

          .user-cpt-a

            .user-cpt-img
              width 80px
              height 80px
              border-radius 40px

            .user-cpt-label3
              position absolute
              width 52px
              height 19px
              background-image url("../images/homepage-musician.png")
              background-size 100% 100%
              left 15px

        .user-cpt-right
          width 85px
          height 85px
          position absolute
          left 110px
          top 40px

          .user-name

            .user-name-a
              text-decoration none
              color black

            .user-name-a:hover
              color rgb(87,173,104)

          .user-des
            font-family "Yuanti SC"
            font-weight 100
            font-size 10px

//查看更多按钮样式
.more-button
  position relative
  width 960px
  height 200px
  margin 0 auto
  //display none

  .btn-box
    position absolute
    width 190px
    height 50px
    border 1px solid rgb(86, 172, 103)
    border-radius 100px
    left 42%
    margin-bottom auto
    top 100px

    .btn-more
      width 180px
      height 44px
      background-color rgb(86, 172, 103)
      border-radius 100px
      color white
      margin-left 5px
      margin-top 3px
      text-align center
      line-height 44px
      opacity 0.7


    .btn-more:hover
      opacity 1

//往期精选
#more-content
  position relative
  width 1210px
  margin 0 auto
  display none

  #past-content-title
    background-image url("../images/imaginary-line.png")
    background-repeat no-repeat
    width 1210px
    height 2px
    background-size 100% 100%
    margin-top 10px

    .title-cpt
      position absolute
      left 47%

  .img-group-cpt
    position relative
    margin-top 55px
    width 1210px
    padding 50px 0

    .card-ting-cpt
      width 290px
      border 1px solid gainsboro
      position absolute
      top 0
      left 0

      .card-top-img
        width 290px
        height 290px

        .card-a

          .card-img
            width 290px
            height 290px

        .card-top-span
          position absolute
          background-image url("../images/homepage-live.png")
          width 290px
          height 290px
          background-position center
          background-repeat no-repeat
          left 0
          top 0
          background-color black
          opacity 0

      .card-a:hover .card-top-span
        opacity 0.5
        transition opacity 1s

    .card-item
      border 1px solid ridge

      .card-ting-cpt
      .card-item
      .card-ting-title
        margin-top 10px
        margin-left 10px

        .card-title-a
          font-size 18px
          text-decoration none
          color black
          margin-top 20px

        .card-title-a:hover
          color rgb(87,173,104)

      .user-sign
        margin-top 15px

        .user-sign-a
          font-size 12px
          font-weight 400
          margin-left 10px
          text-decoration none
          color black

        .user-sign-a:hover
          color rgb(87,173,104)

      .card-others
        margin-top 30px

        .card-type
          border 1px solid gainsboro
          border-radius 15px

          .card-ting
            font-size 5px
            font-weight 100
            text-decoration none

        .card-type:hover
          border 1px solid springgreen

          .card-ting
            color springgreen

        .card-span
          color #9da0a4
          font-weight 100
          font-size 9px
          float right
          margin-right 10px

      .card-user
        background-color #eaeaea
        margin-top 10px
        height 50px

        .card-user-info
        .card-name
          text-decoration none

          .card-header
            width 32px
            height 32px
            border-radius 20px
            margin-top 10px

          .card-s
            font-size 8px
            color black
            margin-left 5px
            font-weight 100

          .card-s:hover
            color rgb(87,173,104)

        .card-heart
          float right
          width 25px
          height 25px
          margin-top 10px
          background-image url("../images/like.png")
          background-size 100% 100%
          margin-right 10px

        .card-heart:hover
          background-image url("../images/likeH.png")

  .load-tea
    width 100%
    text-align center
