footer
  background rgb(26,24,24)
  #foot
    width 1200px
    height 118px
    margin 0 auto
    #foot-logo
      width 100px
      height 118px
      background url("../../assets/images/foot-logo.png") no-repeat
      background-size contain
      background-position center
    #foot-link
      line-height 25px
      padding-left 120px
      margin-top -80px
      span
        display block
        font-size 13px
        color #666
        a
          text-decoration none
          color #666
          padding-right 10px
          font-size 13px

    #foot-icon
      margin-top -44px
      float right
      a
        .app-icon
          width 44px
          height 44px
          margin-right 20px
        #safe-icon
          width 86px
          height 35px
          margin-left 20px

      #wechat
        position relative
        #ewCode
          position absolute
          top -240px
          left -80px
