* //通配
  padding 0
  margin 0

$border = 1px solid black

#container //中间最的容器
  //border $border
  width 1200px
  margin 0 auto
  background url('../images/back.png') no-repeat

.publish //发布碎片
  border $border
  width 100%
  height 380px

.hotLabel-title //标签前的小黑色方图片
  background url('../images/label-img.png') no-repeat left
  padding-left 30px
  margin 100px 0 30px 0
  background-position-x 10px
.hotLabel-content-one  //热门标签下的每一个
  width 191px
  height 84px
  position relative
  display inline-block
  margin-left 8px
  overflow hidden
.hotLabel-content-one img //热门标签下每一个图片
  width 100%
  height 100%
.hotLabel-content-one-text //热门标签下每一个中的文字
  position absolute
  top 0
  width 100%
  height 100%
  background rgba(0,0,0,0.2)

.hotLabel-content-one-text div //热门标签下每一个文字的内容
  color white
  text-align center
  font-weight 500
  font-size 18px
.hotLabel-content-one div:first-child //热门标签下第一个的内容
  margin-top 25px

.hotLabel-content-one-text div:last-child//热门标签下最后一个文字的内容
  font-weight lighter
  font-size 13px
.hotLabel-content-one:hover .img  //悬停之后让里面的图片响应
  transform scale(1.1)
  transition 1s ease
.allFragment //全部碎片
  border $border
.fragment-one //全部碎片中的每一个
  width 280px
  margin-left 10px
  border 4px solid rgb(232,232,232)
  img //下面的图片
    width 100%
.fragment-one:hover //悬停每一个出现的效果
  box-shadow 2px 2px 2px 2px gray
.fragment-one-content //每一个的内容
  padding 10px
.float-right  //全部都可以用 浮动右
  float right
.float-left  //全部都可以用 浮动左
  float left
.clear-float::after //清除浮动
  content ''
  clear both
  display table
.green-hover:hover
  color rgb(87,173,104)
.fragment-one-one-user //碎片下的用户
  margin 20px 0
.user-left //用户中的左边
  color grey
  font-size 14px
  img  //用户头像
    width 30px
    height 30px
    border-radius 50%
    vertical-align middle
    margin-right 7px
.user-right  //用户的右边  点赞
  font-size 20px
  color rgb(248,141,121)