#bigD
  position relative
  margin 0 auto
  height 650px
  border 1px solid black

  .container
    margin 0 auto
    margin-top 90px

    .set-cpt
      position absolute
      width 500px
      height 410px
      margin-left -250px
      margin-top -205px
      left 50%
      top 50%
      background-color white
      border 1px solid #e8e8e8
      border-radius 7px

    .set-title
      padding-top 72px
      padding-bottom 37px
      font-size 30px
      text-align center

    .login-input
      width 270px
      margin 0 auto
      padding-top 25px

    .login-input input
      width 270px
      height 33px
      outline none
      font-weight 300
      border 1px solid transparent
      border-bottom-color #e8e8e8
      color gainsboro
      font-size 17px

    .forget-btn
      width 100px
      line-height 36px
      text-align center
      margin 0 auto
      font-size 14px
      margin-top 34px
      background-color #57ad68
      opacity 0.7
      border-radius 50px
      color white
      font-weight 100

    .forget-btn:hover
      opacity 1

    .alter-cpt
      position absolute
      width 500px
      height 410px
      margin-left -250px
      margin-top -205px
      left 50%
      top 50%
      background-color white
      border 1px solid #e8e8e8
      border-radius 7px
      display none



