.container
  margin 0 auto
  margin-top 90px

  .set-cpt
    position relative
    width 500px
    height 410px
    margin 0 auto
    margin-left 400px
    top -10%
    background-color white
    border 1px solid #e8e8e8
    border-radius 7px


  .set-title
    padding-top 72px
    padding-bottom 37px
    font-size 30px
    text-align center
