.title-cpt
  width 932px
  margin 0 auto
  clear both
  padding-bottom 40px
  background-repeat no-repeat
  padding-top 70px
  padding-left 28px;
  background-position 0 72px
  background-image url('../../assets/images/label-img.png')

.text-content
  width 962px
  overflow hidden
  margin 0 auto
  .article-cpt
    width 960px
    height 216px
    background-color #fff
    border 1px solid #e8e8e8
    box-sizing content-box
    margin-bottom 10px
    .article-info
      padding 20px 0
      padding-left 20px
      width 640px
      float left
      font-size 12px
      color #333
      .article-info-box
        width 960px
        height 140px
        padding-bottom 25px
        padding-right 45px
        font-weight 200
        .article-title
          font-size 24px
          height 30px
          width 580px
          line-height 32px
          padding-bottom 6px
          overflow hidden
          text-overflow ellipsis
          white-space nowrap
          a
            text-decoration none
            color black
          a:hover
            color rgb(87,173,104)
        .article-author
          a
            text-decoration none
            color black
          a:hover
            color rgb(87,173,104)
        .article-content
          width 915px
          overflow hidden
          height 85px
          font-size 13px
          font-weight 100
          color #333
          line-height 20px
          padding-top 25px
          position relative
        .article-content::before
          content ''
          margin-top -10px
          position absolute
          width 30px
          height 1px
          border-top 1px solid #333
        .article-others
          font-weight lighter
          color #999
          bottom 10px

.free-writing
  position relative
  margin 0 auto
  margin-top 60px
  width 960px
  height 216px
  overflow hidden
  img
    width 960px
    height 216px
  img:hover
    transition 0.5s ease
    transform scale(1.1)

.topic
  width 960px
  height 200px
  margin 0 auto
  margin-top 60px
  margin-bottom 100px
  overflow hidden
  img:hover
    transition 0.5s ease
    transform scale(1.1)