*
  margin 0
  padding 0

html,body
  background url("https://qnstatic.pianke.me/public/assets/img/bgImg.png")
  background-repeat repeat-x
  background-color rgb(251,251,251)
/*导航栏样式*/
nav
  width 100%
  background white
  height 90px
  box-shadow 0 0 8px gainsboro
  position fixed
  top 0
  left 0
  opacity 0.95
  z-index 1000

#nav-fixed
  height 90px

#head
  width 1200px
  height 90px
  margin 0 auto

#logo
  line-height 123px
  float left
  height 90px

#navUL
  float left
  width 420px
  margin 0 100px
  a
    text-decoration none
    color black

#navUL
  li
    text-align center
    line-height 87px
    list-style none
    float left
    height 87px
    width 84px
    cursor pointer

#navUL
  li:hover
    background rgb(251,251,251)

.clickLi
  font-weight bolder
  border-bottom 3px solid black
  background rgb(251,251,251)

#login
  float right
  width 200px
  height 65px
  padding-top 25px

#inside
  width 40px
  height 40px
  border-radius 100%
  background-color rgb(92,183,110)
  position absolute
  left 2px
  top 2px

#inside:hover
  box-shadow 0 0 10px white inset

#inside
  img
    position absolute
    width 50%
    height 50%
    left 10px
    top 10px

#outside
  position relative
  display inline-block
  width 44px
  height 44px
  border-radius 100%
  border 1px solid rgb(92,183,110)
  cursor pointer

#loginBtn
  float right
  width 120px
  height 45px
  border 1px solid rgb(92,183,110)
  border-radius 50px
  text-align center
  line-height 45px
  color rgb(92,183,110)
  cursor pointer

#loginBtn:hover
  background rgb(87,173,104)
  color white

/*轮播图样式*/
.slide-cpt
  margin 0 auto
  width 1130px
  height 400px
  margin-top 50px

.left-btn
  height 400px
  width 24px
  float left
  background url('../images/left-btn.png') no-repeat
  background-size 48px
  background-position -8px 176px
  cursor pointer

.right-btn
  height 400px
  width 24px
  float right
  background url('../images/right-btn.png') no-repeat
  background-size 48px
  background-position -20px 176px
  cursor pointer

.banner-img-box
  height 400px
  width 960px
  float left
  margin-left 59px
  overflow hidden
  position relative
  .img-group
    width 960px
    position relative
    list-style none
    margin 0
    padding 0
    li
      cursor: pointer;
      z-index: 0;
      position: absolute;
      top: 0;
      left: 0;
      transition all 0.5s
      img
        width 100%
        height 100%

.active
  border-right 10px solid #fafafa
  border-left 10px solid #fafafa